
:root   {
    font-family: Arial, Helvetica, sans-serif;
    --dark: #2A2E2A ;
    --yellow: #F4CE47; 
    --white: #FFFFFF;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
        display: flex;
        flex-direction: column;
        gap: 16px;
}

.navbar {
    background-color: var(--dark); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 16px;
    color: white;
    position: sticky;
    top: 0;
    width: auto;
    margin: 24px;
}

.navbar-left {
    display: flex;
    gap: 2em;
}

.navbar-mid >ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover:not(.active) {
    background-color: var(--yellow);
    text-decoration: none;
}

.navbar-right {
    display: flex;
    /* justify-content: center;     */
    align-items: center;
    gap: 1em;
}

.button-nav {
    background-color: var(--yellow);
    border: none;
    font-size: 12px; 
    border-radius: 10px;
    width: 70px;
    height: 40px;   
}

.hero {
    display: flex;
    border: 1px solid red;
    flex-wrap: wrap;
    margin: 24px;
}

h1 {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    font-size: 78px;
    /* text-align: justify; */
    width: 100%;
    height: auto;
    
}

/* h1:after {
    content: "";
    display: inline-block;
    width: 100%;
  } */

.hero >div {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
    width: 1411px;
    height: auto;
}

.hero > div > img {
    width: 700.5px;
    height: auto;
    margin-top: 16px;
}

#bestsellers {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    min-height: 100vh;
    border: 1px solid red;
    padding: 16px;
}

#bestsellers-title {
    color: var(--white);
    padding-bottom: 16px;
    font-weight: lighter;
    font-size: 32px;
}

#bestsellers-list {
    display: flex;
    flex-wrap: wrap;
    /* flex: 0 0 50%; */
    gap: 8px;
}

.bestsellers-card {
    display: flex;
    flex-direction: row;
    gap: 16px;

    padding: 16px;
    width: 100%;
    /* max-width: 395px; */
    flex: 1 0 26%;
    border-radius: 20px;
    background-color: var(--white) ;
    border: 1px solid red;

}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid red;
    margin-right: 8em;
}

.content-review {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.card-cta {
    display: flex;
    border: 1px solid red;
}








@media screen and (max-width: 600px) {
    .navbar {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        gap: 2em;
        margin: 0;
    }

    .navbar-mid >ul {
            /* display: flex; */
            flex-direction: column;
            align-items: center;
            /* list-style-type: none; */
    }
}