
:root   {
    font-family: Arial, Helvetica, sans-serif;
    --dark: #2A2E2A ;
    --yellow: #F4CE47; 
    --white: #FFFFFF;
    --darkgrey:#000000DE;
    --background-color: rgb(250, 247, 247);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
        display: flex;
        flex-direction: column;
        /* gap: 16px; */
}

/* navigation bar */
.navbar {
    background-color: var(--dark); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 16px;
    color: white;
    /* position: sticky; */
    top: 0;
    width: auto;
    margin: 24px;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
}

.navbar-mid >ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover:not(.active) {
    background-color: var(--yellow);
    text-decoration: none;
}

.navbar-right {
    display: flex;
    /* justify-content: center;     */
    align-items: center;
    gap: 1em;
}

.button-nav {
    background-color: var(--yellow);
    border: none;
    font-size: 12px; 
    border-radius: 10px;
    width: 70px;
    height: 40px;   
}

/* Top banner section */
.banner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 16px;

    background-color: var(--yellow);
    height: 80px;
    margin-bottom: 16px;
  }  

  .banner-books  { 
    font-size: 30px;
    color: rgba(182, 21, 21, 0.214);
    font-weight: normal;
  }

/* hero section */
.hero {
    display: flex;
    flex-wrap: wrap;
    margin: 24px;
}

h1 {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
    align-items: center;
    font-size: 78px;
    /* text-align: justify; */
    width: 100%;
    height: auto;
    
}

/* h1:after {
    content: "";
    display: inline-block;
    width: 100%;
  } */

.hero > div {
    display: flex;
    flex: 1 1 50%;
    flex-wrap: wrap;
    justify-content: space-between ;
    align-items: center;
    width: 1411px;
    height: auto;
}

.hero > div > img {
    width: 700.5px;
    height: auto;
    margin-top: 16px;
}

/* bestsellers section */
#bestsellers {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    /* min-height: 100vh; */
    /* padding: 16px; */
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 42px;
    padding-bottom: 84px;
}

#bestsellers-title {
    color: var(--white);
    padding-bottom: 42px;
    font-weight: lighter;
    font-size: 32px;
}

#bestsellers-list {
    display: flex;
    flex-wrap: wrap;
    /* flex: 0 0 50%; */
    gap: 8px;
}

.bestsellers-card {
    display: flex;
    flex-direction: row;
    gap: 16px;

    padding: 16px;
    width: 100%;
    /* max-width: 395px; */
    flex: 1 0 26%;
    border-radius: 20px;
    background-color: var(--white) ;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 7em;
}

.content-review {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.card-cta {
    display: flex;
}

#card-see-all {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: black; */
    font-size: 28px;
    background-color: var(--yellow);
} 
/* WHAT TO READ SECTION */
#what-to-read > img {
    display: flex;
    width: 100%;
    flex: 1 0 100%;
    padding: 24px;
}   

/* POPULAR AUTHOR SECTION */
#popular-authors {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    /* min-height: 100vh; */
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 42px;
    padding-bottom: 84px;
}

h2 {
    display: flex;
    align-items: center;
    color: var(--white);
    padding-bottom: 42px;
    font-weight: lighter;
    font-size: 32px;
}

#popular-authors-list {
    display: flex;
    flex-wrap: wrap;
    /* flex: 0 0 50%; */
    gap: 8px;
}

.authors-card {
    display: flex;
    flex-direction: row;
    gap: 16px;
    /* padding: 16px; */
    /* width: 100%; */
    /* max-width: 395px; */
    flex: 1 0 20%;
    border-radius: 20px;
    background-color: var(--white) ;
}

.authors-image-card > img {
    border-radius: 20px;
    height: 100%;
}

.authors-content-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* margin-right: 5em; */
}

#authors-card-see-all {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: black; */
    font-size: 28px;
    background-color: var(--yellow);
}

/* discount/gift ideas section */
.bottom-banner {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    gap: 8px;
}

#discounts-area {
    display: flex;
    flex-wrap: wrap;
    width: 495px;
}

#gift-ideas-area > img{
    display: flex;
    flex-wrap: wrap;
    width: 926px;
    height: 192px   ;
    /* flex: 0 2 50%; */
}

/* footer area */
footer {
    display: flex;
    flex-direction: column;
}

#top-footer {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark);
}

#bottom-footer {
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkgrey);
}

#bottom-footer > div {
    display: flex;
    gap: 2em;
    font-size: 11px;
    font-weight: 100;    
}

.bottom-footer-right > address > a {
    align-items: center;
    font-style: normal;
}   

/* begin: centre section */
#books-page-container {
    min-height: 100vh;
    margin: 0;

    background-color: var(--dark);
    margin-bottom: 16px ;
}

#top-filter {
    display: flex;
    padding: 16px;
    justify-content: center; 
}

#top-filter > img {
    display: flex;
    /* max-width: 1427px; */
    /* height: auto; */
    flex: 1 1 auto;
}

#flex-grid {
    display: flex;
    gap: 8px;
    margin-left: 16px;
    margin-right: 16px;
}

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;
    flex: 1;
    padding: 16px;
    min-width: 295px;
    height: 1280px;
    background-color: white;
    border-radius: 20px;
}

#book-card-container {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
}

.book-card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    flex: 1 0 30%;
    margin-bottom: 32px;
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
    border-radius: 20px;
    min-width: 343.5px;
    background-color: white;
}

.book-card-image {
    display: flex;
    justify-content: end;
    /* position: relative; */
    padding: 16px 16px 0 16px;
}

.book-card-image > img {
    border-radius: 11.99px;
    min-width: 308px;
}

.book-card-cta {
    display: inline;
    position: absolute;
    padding: 16px;
}

.book-card-title {
    padding: 16px 16px 0 16px;
    color: black;
}

.book-card-review {
    padding: 16px 16px 0 16px;
}

.book-card-prices {
    padding: 16px 16px 0 16px;
    margin-bottom: 16px;
}

#pagination-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 5em;
}
/* end: books.html section */

/* start: products page */
/* start: hero section */

.hero-products-page {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 20px;
    background-color: var(--dark);
    margin-left: 16px;
    margin-right: 16px;
}

.hero-main-container {
    display: flex;
    justify-content: space-between;
}

.navbar-hero {
    display: flex;
    padding: 16px;
    font-size: 12px;
}

.navbar-hero > ul {
    display: flex;
    list-style: none;
    gap: 1em;
    color: white;
}

.book-info-wrapper {
    display: flex;
    padding: 16px;
    gap: 1em;
}

.book-info-image {
    display: flex;
}

.book-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 16px;
    color: white;
}

table {
    border-spacing: 10px;
    font-size: 13px;
}
th {
    text-align: left;
    font-weight: 400;
  }

  .book-info-cta1 {
    width: 128px;
    height: 56px;
    background-color: var(--yellow);
    border-radius: 16px;
    border: none;
  }

  .book-info-cta2 {
    width: 128px;
    height: 56px;
    background-color: var(--dark);
    border-radius: 16px;
    border: none;
    color: var(--yellow);
    border: 1px solid var(--yellow);
  }
 
.book-summary-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-right: 16px;
    position: relative;
}

.book-summary-wrapper > .plot-summary > img {
    display: block;
    position: absolute;
    top: 5px;
    right: 16px;
    width: 35px;
}

.book-summary-wrapper > .reception > img {
    display: block;
    position: absolute;
    right: 16px;
    width: 35px;
}

.plot-summary {
    border-radius: 20px;
    width: 371px;
    height: 390px;
    padding: 16px;
    background-color: white;
}

.reception {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    width: 371px;
    height: 74px;
    padding: 16px;
    background-color: white;
}

/* BEGIN: you may also like section (PAGE PRODUCTS.HTML)*/

.may-also-like-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 32px;
    padding-top: 16px;
    /* border: 1px dashed red; */
}

.may-also-like-container > h2 {
    padding-bottom: 16px;
    color: black;
}

.like-book-card-container {
    display: flex;
    justify-content: space-between;
}

.like-book-card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
    background-color: white;
    margin-right: -64px;
    /* width: 193px;
    height: 360px;     */
}

.like-book-card-image {
    display: flex;
    position: relative;
    /* width: 161px;
    height: 248px; */
    /* border: 1px solid red; */
 
}

.like-book-card-cta {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
}

.like-book-card-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: black;
    margin-left: -30px;
    margin-top: 8px;
    /* border: 1px solid red; */
}

.like-author-name {
    font-size: 16px;
}

.like-book-title {
    font-weight: bold;
    font-size: 17px;
}
/* END: you may also like section (PAGE PRODUCTS.HTML)*/

/* start: readers review section */
.readers-review-header-container {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: space-between;
}

.readers-review-header-container > h2 {
    padding-top: 16px;
    padding-bottom: 16px;
    color: black;
}

.readers-review-btn {
    width: 151px;
    height: 56px;
    border-radius: 16px;
    border: none;
    margin-right: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: var(--background-color);
    border: 1px solid black;
}

.top-footer-left {
    margin-left: 16px
}

.reviews-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    height: 100vh;
}

.reviews-card-wrapper {
    display: flex;
    flex-direction: column;
    flex: 0 1 49%;
    margin-right: 12px;
    margin-bottom:12px;
    border-radius: 20px;
    background-color: white;
    min-width: 596px;
    /* height: 296px; */
}

.reviews-name-date {
    display: flex;
    align-items: center;
    color: black;
    font-size: 18px;
    padding: 16px;
    gap: 16px;
}

.reviewer-name {
    display: flex ;
}

time {
    display: flex;
    justify-content: end;
    flex: 1 0 50%;
}

.reviewer-photo {
    padding: 16px;
}

.reviewer-review  >p{
    color: black;
    margin-left: 16px;
    padding-left: 8px;
    padding-bottom: 16px;
}

.review-read-more > a{
    display: flex;
    color: black;
    font-size: 18px;
    margin-left: 16px;
    text-decoration: underline;
}
/* end: review section */





/* media screen  */
@media screen and (max-width: 600px) {
    .navbar {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        gap: 2em;
        margin: 0;
    }

    .navbar-mid >ul {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        /* list-style-type: none; */
    }

    h1 {
        font-size: 230%;
    }

        .hero > div > img {
        flex-direction: column;
        width: 350px;
        height: auto;   
    }

    .bottom-banner {
        flex-direction: column;

    } 

    #gift-ideas-area {
        width: 200px;
        height: auto;
    }
}