
:root   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --dark: #2A2E2A ;
    --yellow: #F4CE47; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
        display: flex;
        flex-direction: column;
        gap: 16px;
}

.navbar {
    background-color: var(--dark); 
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding: 16px;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    margin: 16px;
}

.navbar-left {
    display: flex;
    gap: 2em;
}

.navbar-mid >ul {
    display: flex;
    list-style-type: none;
    gap: 1em;
}

a {
    text-decoration: none;
    color: white;
}

li a:hover:not(.active) {
    background-color: var(--yellow);
    text-decoration: none;
}

.navbar-right {
    display: flex;
    /* justify-content: center;     */
    align-items: center;
    gap: 1em;
}

.button-nav {
    background-color: var(--yellow);
    border: none;
    font-size: 12px; 
    border-radius: 10px;
    width: 70px;
    height: 40px;   
}

@media screen and (max-width: 600px) {
    .navbar {
        /* display: flex; */
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: auto;
        gap: 2em;
        margin: 0;
    }

    .navbar-mid >ul {
            /* display: flex; */
            flex-direction: column;
            align-items: center;
            /* list-style-type: none; */
    }
}